.centrar{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

mat-toolbar {
    background: #04638f;
    color: white;
    height: 15%;
}